<div class="masthead">

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <img class="logo-size" src="./assets/images/goldPlus.png">
        <img src="./assets/images/myc_hdr.png">
      </div>
    </div>
    <div class="col-md-6">
      <div class="row"></div>
      <div class="col-md-6">
        <div class="column">
          <p>SELECT A COUNTRY
            <p>
              <p>Language:&nbsp;English
                <p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="column">
          <p>Time
            <p>
              <p>REGISTER | LOGIN
                <p>
        </div>
      </div>
    </div>
  </div>

  <nav>
    <ul class="nav nav-justified">
      <li><a class="myc_nav-btn" [routerLink]="['/']">Home</a></li>
      <li><a class="myc_nav-btn" [routerLink]="['/about']">About Us</a></li>
      <li><a class="myc_nav-btn" [routerLink]="['/']">Dashboard</a></li>
      <li><a class="myc_nav-btn" [routerLink]="['/']">Services</a></li>
      <li><a class="myc_nav-btn" [routerLink]="['/']">FAQs</a></li>
      <li><a class="myc_nav-btn" [routerLink]="['/']">Contact Us</a></li>
      <li><a class="myc_nav-btn" [routerLink]="['/']">Our Policies</a></li>
      <li><a class="myc_nav-btn" [routerLink]="['/']">Sponsors</a></li>
    </ul>
  </nav>
</div>
